/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

/* .statusbar-overlay {
    background: #000000;
} */

.imagem img{ position: absolute; height: 200%;}

.lg { position: absolute; height: 120%; right: 30%;}

.cozinha img{height: 50%;}

.sobre h2{color: #a58c76; text-align: center;}

.sobre p{color: black; text-align: center;}

.glr h2{color: #a58c76; text-align: center;}

.glra{position: absolute; left: 3%;}

.footer{background: #a58c76; padding: 10px 0; }

.footer h2{color: #000;}

.footer_contato{color: #fff;}

.footer_contato h2{ margin: 15px; }

.footer p{color: #fff;}

.footer h3{color: #a58c76;}

.footer_contato ul li{
	display:inline-block;
	margin-right: 8px;
	text-align: center;
}
.footer_redes h2{margin:15px;}

.footer_redes ul li{
	display:inline-block;
	margin-right: 10px;
}

.footer_historia h2{ margin: 15px;}

.color-custom { color: #fff; }



